/* Button */
button.light {
    height: 3rem;
    min-width: 153px;
    cursor: pointer;
    
    box-sizing: border-box;
    text-align: center;

    background: var(--bluegrey-1);
    color: var(--bluegrey-9);
}

button.light:hover {
    background: var(--bluegrey-3);
}

button.light:active {
    color: var(--bluegrey-3);
    background: var(--bluegrey-5);
}




/* Button - Disabled */
button.light.disabled {
    border: 2px solid var(--bluegrey-8);
    background: none;
    color: var(--bluegrey-8);
    cursor: not-allowed;
}




/* Secondary Button */
button.light.secondary {
    background: none;
    border: none;
    color: var(--bluegrey-1);
}

button.light.secondary:hover {
    color: var(--bluegrey-5);
}

button.light.secondary:active {
    color: var(--bluegrey-7);
}


/* Secondary Button - Disabled */
button.light.secondary.disabled {
    border: none;
    background: none;
    color: var(--bluegrey-8);
    cursor: not-allowed;
}





/* Small Button */
button.light.small {
    height: 2rem;
    font-size: 12px;
}