:root {
    --bluegrey-0: #263238;
    --bluegrey-1: #37474f;
    --bluegrey-2: #455a64;
    --bluegrey-3: #546e7a;
    --bluegrey-4: #607d8b;
    --bluegrey-5: #78909c;
    --bluegrey-6: #90a4ae;
    --bluegrey-7: #b0bec5;
    --bluegrey-8: #cfd8dc;
    --bluegrey-9: #eceff1;
    --bluegrey-10: #ffffff;
}