body {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 16px;
}

section {
    padding: 250px;
}

.iconfont {
    font-family: 'Material Icons', sans-serif;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}